@using WebExtensions.Net
@using Blazored.LocalStorage
@using Blazored.LocalStorage
@using System.Threading
@using Microsoft.Extensions.Logging
@inject ILocalStorageService _localStorageService
@inject ILogger<ClearSettingsComponent> _logger

<MudButton OnClick="async () => await ClearItems()"></MudButton>
    <button id="extFatalError" name="actionButton" class="actionButton">
            <span style="font-size:36px; color:red;">( ! )</span><br /><br />Total Script Blocker encountered corrupted
            settings data in
            Google Chrome / Exceeded extension storage quota in Google Chrome.<br /><br />Click here to clear<br />the
            Total Script Blocker
            settings lists<br />to try to solve the problem.<br /><br />Otherwise, please ensure Google Chrome has
            javascript and
            HTML5 storage enabled.<br /><br />Contact the author of Total Script Blocker if you repeatedly get this
            message.
        </button>

@code {
    [Parameter]
    public IWebExtensionsApi ExtensionsApi { get; set; }

    private IEnumerable<string> _settingsToRemove = new string[]
                                                    {
                                                        "whitelistHash",
                                                        "tempAllowListHash",
                                                        "blacklistHash"
                                                    };

    private async Task ClearItems()
    {
        try
        {
            await _localStorageService.RemoveItemsAsync(_settingsToRemove);
#pragma warning disable CS0618
           await ExtensionsApi.Extension.GetURL("options.html");
#pragma warning restore CS0618
        }
        catch (Exception e)
        {
            _logger.LogError(e, "ClearSettingsComponent ClearItems() error");
            throw;
        }
    }

}