<h3>History:</h3>

            Version 1.0<br>

            First Release<br><br><br>

            <h3>About Total Script Blocker:</h3>
            Total Script Blocker is based on the old Chrome Extension &quot;ScriptBlock&quot;. It gives
            you greater control over
            what javascript, iframes, and plugins runs in your browser to increase security and lower the
            CPU usage. It is useful to help mitigate attacks like cross-site
            scripting (XSS) and drive by downloads by minimizing the third party content run. <br><br>
            Most credits go to Eric Wong and Oliver von Schleusen for these great extension &quot;NotScripts and
            ScriptBlock&quot;.<br>
            <br>
            For more information, updates, the change log, or to contribute please visit
            the project homepage at:<br>

            <div style="padding: 0px 0px 0px 10px">
                <h3><a href="https://github.com/PrimeN/Total-Script-Blocker">https://github.com/PrimeN/Total-Script-Blocker</a></h3>
            </div>
            <br>

@code {
    
}