<h3>List Stats</h3>

            <p>Total # Entries: <span name="numListEntries"></span></p>

            <p>Space Occupied (dual-byte encoding): <span name="listSpace"></span> bytes
                / <span name="maxStorageSize"></span> bytes (<span name="listSpacePct"></span> %)</p>

            <p>Est. Space Occupied Encrypted (dual-byte encoding): <span name="listSizeEncrypted"></span> bytes
                / <span name="maxStorageSize"></span> bytes (<span name="listSizeEncryptedPct"></span> %)</p>

            <p>Est. Max. Entries: <span name="estMaxListEntries"></span></p>
            <h3>User Agent</h3>
            <span name="userAgent"></span>

@code {
    
}