
<div id="tabs-PasswordStatus">
    <div id="passwordGood" class="ui-widget">
        <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
            <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                <strong>Password is set:</strong> Total Script Blocker is working. Enjoy your browsing.</p>
        </div>
    </div>

    <div id="extUpdated" class="ui-widget">
        <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>ALERT! Total Script Blocker has updated to Version
                    <span
                        name="updatedToVer"></span></strong> You will
                need to copy back your <i><b>CHANGE__PASSWORD__HERE.js</b></i> file into the Total Script
                Blocker folder or
                re-enter your password. If you change to a different password, remember to clear the Google
                Chrome's
                HTML5 storage in the cookies area.</p>
        </div>
    </div>

    <div id="passwordBad" class="ui-widget">
        <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>ALERT! No password set for Total Script Blocker.</strong>
                <span
                    name="pwdProbDescrip"></span> Will
                default
                deny scripts until changed and this message will show on each browser start up.</p>
        </div>
    </div>
    <br/>

    <h3>Default Password</h3>

    <div>In &quot;NotScripts&quot; on witch Total Script Blocker is based, many
        people had problems to
        set the password. This was the reason, I decided to set a default password. This lowers the the security
        a bit,
        but I don't think that this matters a lot. Most other chrome extensions using whitelists don't even use
        encryption. If
        you want to improve your privacy protection, you can change the password anytime like described below.
        If you
        don't want to edit the password, just ignore the rest of this page.<br>
    </div>
    <p>&nbsp;</p>

    <h3>What the Password is for</h3>

    <div>A Total Script Blocker password is
        required to be set for the initial use on a computer or if Total Script Blocker
        was updated. The password is used to protect your privacy by preventing
        web sites from viewing the Total Script Blocker whitelist caches. Due to
        technical limitations, you are required to open a file to set the
        password.<br>
    </div>
    <br>

    <SetPasswordInfoComponent/>

    <h3>Clear Your Browser HTML5 Storage if You Change to Another Password</h3>

    <div>If you change to a different password, it is important that you clear your
        browser's
        HTML5 storage so that the old encrypted caches for Total Script Blocker are also cleared. This can be
        done in Google
        Chrome by clearing your cookies, which also clears the HTML5 storage at the same time. Otherwise, you
        will have
        to manually reload a few web sites for the first bit after changing to a different password.<br>
    </div>
</div>


@code {
    
}