@using WebExtensions.Net
@using Microsoft.Extensions.Logging
@inject ILogger<ReloadExtensionComponent> _logger
@inject IJSRuntime _jsRuntime

<MudButton OnClick="async () => await ReloadExtension()"  id="reloadExt" 
           Color="Color.Secondary"
           StartIcon="@Icons.Custom.Uncategorized.Radioactive"
           >
    <span style="font-size:36px; color:red;">( ! )</span><br/>
    Click to reload Total Script Blocker after you copy back your password file.
</MudButton>

@code {

    private async Task ReloadExtension()
    {
        try
        {
            await _jsRuntime.InvokeVoidAsync("reloadExtension");
        }
        catch (Exception e)
        {
            _logger.LogError(e, "ReloadExtensionComponent ReloadExtension() error");
            throw;
        }
    }
}