@using WebExtensions.Net
@using Microsoft.Extensions.Logging
@inject ILogger<ReloadExtensionComponent> _logger
@inject IJSRuntime _jsRuntime

<MudButton OnClick="async () => await ReloadExtension()" Color="Color.Warning">
    ( ! )<b/> 
    /><br/>
    Click to reload Total Script Blocker after you copy back your password file.
</MudButton>
<button id="reloadExt" name="actionButton" class="actionButton">
            
        </button>

@code {
    [Parameter]
    public IWebExtensionsApi ExtensionsApi { get; set; }

    private async Task ReloadExtension()
    {
        try
        {
            await _jsRuntime.InvokeVoidAsync("reloadExtension");
        }
        catch (Exception e)
        {
            _logger.LogError(e, "ReloadExtensionComponent ReloadExtension() error");
            throw;
        }
    }
}