/*@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

body {
    font: 12px "Trebuchet MS", sans-serif;
    margin: 10px;
    width: 800px;
    margin: auto;
    padding: 10px 0px 10px;
}

#dialog_link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}

#dialog_link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}

ul#icons {
    margin: 0;
    padding: 0;
}

ul#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}

ul#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}

input.largerCheckbox {
    width: 30px;
    height: 20px;
}

button.actionButton {
    width: 400px;
    height: auto;
    margin: 15px auto;
    padding: 1px 2px 1px 2px;
    display: none;
    text-align: center;
    overflow: auto;
}

a {
    outline-color: transparent;
}*/