@page "/options.html"
@using Blazored.SessionStorage
@using Lkhsoft.Utility
@using Total_Script_Blocker_II.Components.Options
@inject ISessionStorageService _sessionStorageService
@inject IJsonSerializer _jsonSerializer

@inherits Blazor.BrowserExtension.Pages.IndexPage

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="keywords" content="XHTML, CSS, template, FullAhead" />
    <meta name="description" content="Take control of scripting in your browser." />
    <meta name="robots" content="index, follow, noarchive" />
    <meta name="googlebot" content="noarchive" />

    <title>Options | Total Script Blocker II</title>
    <link type="text/css" href="css/custom-theme/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
</head>

<body bgcolor="ffffff">
<div style="position: relative; width: auto; height: auto;left: 0px; top: 0px; padding: 5px; overflow:hidden;"
     class="ui-widget ui-widget-content ui-corner-all">
    <div style="display:inline">
        <table>
            <tr>
                <td> <img src="img/icon48.png" width="48" height="48" style="padding: 10px 0px 0px 10px"></td>
                <td><label id="labelHeaderTitle" style="font-size:36px; font-weight: bold; padding: 0px 0px 0px 20px">Total
                    Script Blocker</label></td>
            </tr>
        </table>
    </div>
    <br /><br />

    <div style="display:inline">
        <label id="labelHeaderVersion" style="padding: 0px 0px 0px 20px"></label>
    </div>
</div>

    <div id="tabs" style="height: auto;">
        <ul>
            <li><a href="#tabs-Lists">Settings</a></li>
            <li><a href="#tabs-PasswordStatus">Password Status</a></li>
            <li><a href="#tabs-About">About</a></li>
        </ul>

    <ClearSettingsComponent/>
    <ReloadExtensionComponent/>
    <PasswordStatusComponent/>
    
    <ListsComponent/>
    
    <AboutComponent/>
    </div>
</body>


@code{
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
           
        }
        base.OnAfterRender(firstRender);
    }

}

