@page "/options.html"
@using Total_Script_Blocker_II.Components.Options

@inherits Blazor.BrowserExtension.Pages.BasePage

 

<div style="position: relative; width: auto; height: auto;left: 0px; top: 0px; padding: 5px; overflow:hidden;"
     class="ui-widget ui-widget-content ui-corner-all">
    <div style="display:inline">
        <table>
            <tr>
                <td> <img src="img/icon48.png" width="48" height="48" style="padding: 10px 0px 0px 10px"></td>
                <td><label id="labelHeaderTitle" style="font-size:36px; font-weight: bold; padding: 0px 0px 0px 20px">Total Script Blocker II</label></td>
            </tr>
        </table>
    </div>
    <br /><br />

    <div style="display:inline">
        Version : @Version
    </div>
</div>



<MudTabs Outlined="true">
        <br/>
        <br/>
    <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined" VerticalAlign="true">
        <ClearSettingsComponent ExtensionsApi="WebExtensions"/>
        <ReloadExtensionComponent/>
    </MudButtonGroup>
    <br/>
    <br/>
    <MudTabPanel Text="Settings" Icon="@Icons.Material.Filled.SettingsApplications">
        <ListsComponent/>
    </MudTabPanel>
    <MudTabPanel Text="Password Status" Icon="@Icons.Material.Filled.Password">
        <PasswordStatusComponent/>
    </MudTabPanel>
    <MudTabPanel Text="About" Icon="@Icons.Material.Filled._3p">
        <AboutComponent/>
    </MudTabPanel>
</MudTabs>



@code{
    private static readonly string Version = "2.0.0";
}

