@page "/popup.html"
@using Total_Script_Blocker_II.Components.Options
@inherits Blazor.BrowserExtension.Pages.BasePage

<h1>Extension Action</h1>

<header>

    <div class="hborder">
        <table>
            <tr>
                <td> <img src="img/icon48.png" width="24" height="24" style="padding: 0px 0px 0px 0px"></td>
                <td><label id="labelHeaderTitle"
                        style="font-size:21px; font-weight: bold; padding: 0px 0px 0px 0px; margin: 0px 2px 0px 2px">Total
                        Script Blocker</label></td>
                <td><img src="img/icon48.png" width="24" height="24" style="padding: 0px 0px 0px 0px"></td>
            </tr>
        </table>
    </div>

</header>

<body>
    <button id="passwordBad" name="actionButton" class="actionButton">
        <span style="font-size:36px; color:red;">( ! )</span><br /><br /><span name="pwdProbDescrip">No password set for
            Total Script Blocker.</span><br />Will
        default deny scripts until changed.<br /><br />Click for instructions.
    </button>

<FatalErrorComponent/>

<ClearSettingsComponent ExtensionsApi="WebExtensions"/>

    <button id="revokeAllTemp" name="actionButton" class="actionButton">Enable Protection</button>


    <div id="divMultiSelect">
        <input id="cbMultiSelect" name="cbMultiSelect" type="hidden" />
        <!--  <input type="checkbox" id="cbMultiSelect" name="cbMultiSelect" type="hidden"/>  
    <label for="cbMultiSelect"> Multi-Select Sites</label> -->
    </div>

    <div id="wrapperSpacerTop" class="wrapperSpacer">
        <hr />
    </div>
    <div id="wrapperSpacerBottom" class="wrapperSpacer">
        <hr />
    </div>

    <button id="tempAllowAllShown" name="actionButton" class="actionButton">Temporarily allow all this page</button>
    <button id="allowAllShown" name="actionButton" class="actionButton">Allow All Listed Sites</button>
    <button id="blockAllShown" name="actionButton" class="actionButton">Block All Listed Sites</button>
    <button id="globalAllowTemp" name="actionButton" class="actionButton">Disable Protection</button>

    <div id="bottomLinks">
        <a href="javascript:;" id="pop_donate">Donate</a> | <a href="javascript:;" id="pop_options">Options</a> | <a
            href="javascript:;" id="pop_close">Close</a>
    </div>


    <div id="spaceFiller" style="display:none; height:150px"></div>

</body>

@code {
    
}